<a href="https://colab.research.google.com/github/smithakolan/MachineLearningFundamentals/blob/master/Linear_Regression(NumPY%2C_Pandas_etc).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Levels_Fyi_Salary_Data.csv')
print(df)

In [6]:
print(df.columns)

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [8]:
salaryDF = df[['company', 'totalyearlycompensation', 'yearsofexperience', 'yearsatcompany', 'basesalary']]

In [57]:
print(salaryDF.head())
print( salaryDF.count()[0]  )

     company  totalyearlycompensation  yearsofexperience  yearsatcompany  \
0     Oracle                 127000.0                1.5             1.5
1       eBay                 100000.0                5.0             3.0
2     Amazon                 310000.0                8.0             0.0
3      Apple                 372000.0                7.0             5.0
4  Microsoft                 157000.0                5.0             3.0

   basesalary
0    107000.0
1         0.0
2    155000.0
3    157000.0
4         0.0
29798

## Create training and testing data

y = totalyearlycompensation
x1 = yearsofexperiance x2=yearsatcompany x3=basesalary
y = w1x1+w2x2+w3x3+b
Y=XW

In [136]:
x_train = salaryDF.iloc[:23838, 2:]
y_train = salaryDF.iloc[:23838,1]
x_test = salaryDF.iloc[23838:, 2:]
y_test = salaryDF.iloc[23838:,1]
x_train.insert(loc=3, column='b', value=1)
x_test.insert(loc=3, column='b', value=1)

## Functions for RMSE & calculating weights

In [113]:
def rmse(targets, predictions):
    return np.sqrt((np.square(predictions - targets)).mean())

def calculateWeights(x_train, y_train):
    w = np.linalg.inv(np.transpose(x_train).dot(x_train)).dot(np.transpose(x_train).dot(y_train))
    return w

In [137]:
w = calculateWeights(x_train, y_train)
print(w)

[ 7.26235317e+03 -1.47216267e+03  8.99402240e-01  6.17883998e+04]

In [138]:
#training_error
y_train_pred = x_train.dot(w)
train_error = rmse(y_train, y_train_pred)
print(train_error)

#testing error
y_test_pred = x_test.dot(w)
test_error = rmse(y_test, y_test_pred)
print(test_error)

100678.14611899099
85051.12258388866

In [139]:
'''
y = totalyearlycompensation
x1 = yearsofexperiance x2=yearsatcompany x3=basesalary
'''

new_pred = np.array([5, 3, 80000, 1]).dot(w)
print(new_pred)

165635.85679197533